html{
  height: 100%;
  box-sizing: border-box;
}

.App {
  margin: 0 auto; 
  max-width: 1000px;
}

a {
  color : orange;
  text-decoration: none;
}

li {
  list-style: none;
}

.desktop-container{
  width: 100%;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-top: 25px;
}






