main{
    position: absolute;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;
    height: 80%; 
    width: 49%;
    top: 0px;
    left: 0px;
}

main h1{
    color: #b6024e;
    text-shadow: -5px -3px 20px rgb(0, 0, 0);
    font-size: 56px;
    font-weight: 100; 
    text-decoration: underline; 
}

form{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    align-items: center;
    
}

main form input{
    background:  #b6024e; 
    border: 3px solid #88031d;
    border-radius: 15px; 
    padding: 10px 0px; 
    color: rgb(240, 159, 175);
    width: 300px; 
    box-shadow: -1px -3px 20px rgb(160, 122, 122);
}

main form input:focus{
    outline: none;
}

main form input::placeholder{
    text-align: center;
    color: rgb(240, 159, 175);
    font-weight: bold; 
}

main form button{
    background: transparent;
    border: 3px solid #88031d;
    border-radius: 15px;
    width: 160px;
    padding: 7px;
    box-shadow: -1px -3px 20px;
    font-weight: 800;
    color: rgb(240, 159, 175);
}

main form button:focus{
    outline: none;
}