.todo-container{
    display: flex; 
    flex-wrap: wrap;  
    width: 100%; 
    justify-content: space-between;
    align-items: center; 
    padding: 25px 0px; 
    color: #b6024e;
}

.todo-container button{
    background: transparent;
    width: 50px; 
    border: 3px solid #b6024e;
    border-radius: 15px;
    margin-top: 3px;
    padding: 1px;
    color: #b6024e;
}

.todo-container p{
    margin: 0px 5px; 
    color: #b6024e;
}

.basic{
    text-decoration: none; 
}

.completed{
    text-decoration: line-through
}