.headlines-container{
    width: 65%; 
    display: flex; 
    flex-wrap: wrap; 
}

.feature-image{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    box-shadow: 0 8px 6px -6px black;
}

.feature-image-content{
    background: rgba(0, 0, 0, 0.568);
    color: white;
    width: 100%;
    padding-left: 25px;
}

.headline-container{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    align-items: baseline;
}

